@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  opacity: 1;
}

header {
  background-color: #bfebeb;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -50px;
}

#logoImg {
  width: 150px;
  height: auto;
}

#brandName {
  font-size: 1.5rem;
  margin-left: -40px;
}

.headerQuotes {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  padding: 10px;
}

.firstQuote {
  margin: 20px 0px;
  padding: 0px 20px;
}

#quoteAuthor {
  margin-top: 5px;
  text-align: right;
  font-size: 0.7rem;
  margin-bottom: 20px;
}

.mainQuote {
  font-weight: 700;
  font-size: 2rem;
}

#bookQuote {
  font-size: 0.7rem;
}

.library {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
  height: 100px;
  position: relative;
}

.libContainer {
  padding: 30px 20px;
  /* display: none; */
}

.bookCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #787777;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.bookCover {
  width: 25%;
  height: 120px;
}

.bookCover img {
  width: 100%;
  height: 100%;
}

.bookDetails {
  width: 70%;
}

.bookTitle {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.author,
.pages {
  display: flex;
  margin-bottom: 10px;
}

.authorName,
.numPages {
  font-size: 12px;
}

.author img,
.pages img {
  width: 15px;
  height: auto;
  margin-right: 5px;
}

#readBtn {
  /* margin-top: 20px; */
  width: 80px;
  min-width: fit-content;
  height: 30px;
  background-color: #81bab9;
  color: black;
  border-radius: 15px;
  margin-bottom: 10px;
}

#notreadBtn {
  width: 80px;
  min-width: fit-content;
  height: 30px;
  background-color: #e97777;
  color: black;
  border-radius: 15px;
  margin-bottom: 10px;
}

.addBook {
  width: 50px;
  height: 50px;
  background-color: #bfebeb;
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0px;
  right: 20px;
  border-radius: 10px;
}

#add-Icon {
  width: 50%;
  height: auto;
  padding: 12px 0px;
}

/* EMPTY LIBRARY MESSAGE */
.libraryMsg {
  position: absolute;
  top: 20px;
  left: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  text-align: center;
}

.msgContainer {
  background-color: #d3d3d39a;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 35px 20px 20px 30px;
  text-align: center;
}

#bookIcon {
  width: 60px;
  height: auto;
}

#msgHeader {
  margin-top: 5px;
  opacity: 0.8;
}

#msg {
  font-size: 12px;
  margin-top: 5px;
  opacity: 0.6;
}

/* BOOK MODAL */
.modalContainer {
  border: 1px solid #348482;
  border-radius: 5px;
  width: 90%;
  height: 450px;
  position: fixed;
  top: 85px;
  left: 20px;
  background-color: white;
  display: none;
}

.modalContent {
  height: 100%;
  padding: 1.5rem;
  color: #348482;
}

#modalTitle {
  font-size: 16px;
  margin-bottom: 20px;
}

.bookForm {
  display: flex;
  flex-direction: column-reverse;
}

.details div {
  margin-bottom: 5px;
}

.bookForm label {
  font-size: 12px;
  font-weight: 500;
  opacity: 0.6;
}

#title,
#author,
#numOfPages {
  border: 1.5px solid #7877773d;
  width: 100%;
  height: 30px;
  border-radius: 3px;
}

#title:focus,
#author:focus,
#numOfPages:focus {
  outline-color: #348482;
}

.upload {
  border: 2px dotted #348482;
  margin-bottom: 10px;
  text-align: center;
  padding: 7px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload h3 {
  font-size: 14px;
}

.upload p {
  font-size: 10px;
}

.upload label {
  display: block;
  font-size: 14px;
  color: #348482;
  font-weight: 800;
  text-decoration: underline;
}

#upload-icon {
  width: 30px;
  height: auto;
  margin-bottom: 5px;
}

#circular-progress {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: conic-gradient(#348482 3.6deg, #ededed 0deg);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  display: none;
}

#circular-progress::before {
  content: " ";
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #fff;
}

#progress-value {
  position: absolute;
  font-size: 8px;
  font-weight: 800;
  text-align: center;
}

#uploaded-checkmark {
  position: absolute;
  top: 4px;
  left: 3px;
  transform: rotate(15deg);
  display: none;
}

#uploaded-checkmark img {
  width: 25px;
}

#uploading-msg {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 3px;
  display: none;
}
.readStatus {
  display: flex;
  cursor: pointer;
  position: relative;
}

.readStatus input {
  display: none;
}

.readStatus input + label {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 3px;
  border: 1.5px solid #787777b2; /* Border color for unchecked */
}

.readStatus input:checked + label {
  background-color: white; /* Background color for checked */
  border: 2px solid #787777b2; /* Border color for checked */
}

/* Checkmark styles */
.readStatus label:after {
  content: "";
  position: absolute;
  display: none;
}

/* Checkmark styles when checked */
.readStatus input:checked + label:after {
  display: block;
  left: 3px;
  bottom: 2px;
  width: 6px;
  height: 13px;
  border: solid #348482;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

#readCheck {
  margin-right: 10px;
}

.readStatus span {
  margin-left: 30px;
  font-size: 12px;
  opacity: 0.7;
  font-weight: 500;
}

#submitBtn,
#cancelBtn {
  height: 30px;
  margin-top: 10px;
  border-radius: 3px;
  width: 70px;
  color: white;
}

#submitBtn {
  background-color: #348482;
}

#cancelBtn {
  background-color: #f35d5d;
}

/* REMOVE ARROWS FROM NUMBER IMPUT */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* TABLET - 768px */

/* DESKTOP - 1020px */
@media (min-width: 1024px) {
  .container {
    background-color: #bfebeb;
    min-height: 100vh;
  }

  .library {
    border-radius: 20px 20px 0px 0px;
    margin-top: -10px;
    min-height: 100vh;
  }

  header {
    background-color: #bfebeb;
    height: 300px;
  }

  .headerQuotes {
    flex-direction: row;
    text-align: unset;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 10px 50px;
    margin: 0px 0px 0px 0px;
  }

  .mainQuote {
    font-weight: 700;
    font-size: 36px;
    width: 50%;
    padding-left: 30px;
  }

  .firstQuote {
    padding: 20px 20px 0px 50px;
    width: 40%;
    text-align: right;
    padding-left: 30px;
    margin-right: -10px;
  }

  #bookQuote {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }

  #quoteAuthor {
    font-size: 14px;
    font-weight: 400;
  }

  .libraryMsg {
    top: 10%;
    left: 45%;
  }
}

/* DESKTOP - 1440px */
@media (min-width: 1440px) {
  .library {
    border-radius: 20px 20px 0px 0px;
    margin-top: -20px;
  }

  .libContainer {
    padding: 30px 20px;
  }

  .headerQuotes {
    padding: 0px 0px 10px 100px;
    margin: 10px 30px 0px 30px;
  }

  .mainQuote {
    font-size: 48px;
  }

  #bookQuote {
    font-size: 16px;
    line-height: 2;
  }

  #quoteAuthor {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 0px;
    font-weight: 500;
  }

  .libraryMsg {
    top: 10%;
    left: 45%;
  }

  .libContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 60px 50px;
    gap: 30px;
    justify-content: flex-start;
  }

  .bookCard {
    flex-direction: column;
    padding: 5px;
    border: none;
  }

  .bookCover {
    width: 100%;
    height: 300px;
  }

  .bookCover img {
    border-radius: 5px;
    width: 100%;
    height: 100%;
  }

  .bookDetails {
    width: 90%;
    margin-top: 10px;
  }

  .modalContainer {
    width: 700px;
    top: 20%;
    left: 25%;
  }

  #modalTitle {
    margin-bottom: 0px;
  }

  .bookForm {
    height: 400px;
  }

  .details div {
    margin-bottom: 10px;
  }
}
